body {
    font-family: Roboto, Helvetica, Neue, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;         
    color: #70757a;              
}

footer {
    background-color: #f2f2f2;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

     
    body {
        font-family: Roboto, Helvetica, Neue, Arial, sans-serif;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;         
        color: #70757a;              
    }  
    /* here begin styles of header */  

    .header {
        display: flex;
        justify-content: space-between;       
        align-items:flex-start; 
        margin: 12px;
    }

    .leftSideHeader {
        display: flex;
        gap: 20px;          
    }
    .leftSideHeader, a {
        padding-top: 3px;
        font-size:small;
        text-decoration: none;
    }

    .rightSideHeader {
        display: flex;
        justify-content: space-between;
        gap: 20px;        
    }

    .photo {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }

    .hamb {        
        height: auto;
        width: 24px;                     
    }

    /* here finalize styles of header  */

    /* here begin styles of main */
    .central {
        flex: 1;
        display: flex;        
        justify-content: center;               
    }

    .imgLogo {
        height: auto;
        width: 160px; 
        padding-top:20px       
    }

    .centralDown, .centralUp{
        display: flex;
        flex-direction: column;        
        margin:30px 0;
        align-items: center;
    }

    .searchBar {    
        display: flex;
        justify-content: space-between;         
        align-items: center;        
        border: 1px solid #ddd;
        border-radius: 26px;  
        height: auto;     
        width: 85vw;               
        padding: 10px 15px;
    }  
    
    .searchSymbol {
        height: auto;
        width: 18px;             
    }

    input{
        margin: 0;
        padding: 0;
        border-style: none;
    }   

    .mic {
        height: 20px;
        width: 15px;                      
    }
    
    button {
       display: none;
      }

    .setLanguage {
        line-height: 28px;
        font-size: small;
        text-align: center;
        color: #3c4043;        
    }

    .lang {        
        color: #1558d6;
        padding-left: 10px;
    }

    /* here finalize styles of main  */

    /* here finalize styles of footer  */

    footer{
        display: flex;
        flex-direction: column;                
    }

    .country{
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
    .darkThemeDiv {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 10px 0;        
    }
    .advDiv{        
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 10px 0;
        padding-bottom: 5px;
    }

    .advDiv :first-child{
        display: none;
    }

    footer div a {
        font-size: small;
        text-decoration: none;    
        color: #70757a;
    }

    /* here finalize styles of footer  */

}

@media screen and (min-width: 768px) and (max-width: 1440px) {

   /* here begin styles of header */  

   .header {
    display: flex;
    justify-content: flex-end;       
    align-items:flex-start; 
    margin: 12px;
    gap: 20px
}

.leftSideHeader {
    display: flex;
    gap: 20px;          
}
.leftSideHeader a {
    padding-top: 4px;
    font-size:medium;
    text-decoration: none;
    text-transform: lowercase;
}

.rightSideHeader {
    display: flex;
    justify-content: space-between;
    gap: 20px;        
}

.photo {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.hamb {        
    display: none;                    
}

/* here finalize styles of header  */
    /* here begin styles of main */
    .central {
        flex: 1;
        display: flex;        
        justify-content: center;    
        margin-top: 150px;           
    }

    .imgLogo {
        height: auto;
        width: 272; 
        padding-top:20px       
    }

    .centralDown, .centralUp{
        display: flex;
        flex-direction: column;        
        margin:30px 0;
        align-items: center;
    }

    .searchBar {    
        display: flex;
        justify-content: space-between;         
        align-items: center;        
        border: 1px solid #ddd;
        border-radius: 26px;  
        height: 44px;     
        width: 528px;               
        padding: 0px 15px;
        margin-bottom: 20px
    }  
    
    .searchSymbol {
        height: auto;
        width: 18px;             
    }

    input{
        margin: 0;
        padding: 0;
        border-style: none;
    }   

    .mic {
        height: 20px;
        width: 15px;                      
    }
    
    button {
        font-family: Roboto, sans-serif;
        border: none;
        border-radius: 8px;
        background: #eee;
        padding: 10px;
        margin: 0 2px; 
      }

    .setLanguage {
        line-height: 28px;
        font-size: small;
        text-align: center;
        color: #3c4043;        
    }

    .lang {        
        color: #1558d6;
        padding-left: 10px;
    }

    /* here finalize styles of main  */

    /* here finalize styles of footer  */

    footer{
        display: flex;
        flex-direction: column;       
    }

    .country{              
        padding: 10px 20px;
        border-bottom: 1px solid lightgray;        
    }

    .lastDivDesktop {
        display: flex;
        justify-content: space-between;
    }

    .darkThemeDiv {
        order: 2;
        display: flex;
        flex-direction: row-reverse;   
        gap: 30px;
        margin: 20px        
    }

    .darkThemeDiv :first-child{
        display: none;
    }

    .advDiv{                
        display: flex;
        flex-direction: row-reverse;       
        gap: 30px;
        margin: 20px;        
    }

    footer div a {
        font-size: medium;
        text-decoration: none;    
        color: #70757a;
    }

    /* here finalize styles of footer  */

}
